<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.tymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/board/boardList.css">

<head>
    <meta charset="UTF-8">
    <title>🤡ZLOG</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</head>
<body>
<div class = "container">
    <div class="header">
        <div class="page-name">
            🤡 ZLOG  🤡
        </div>

        <div class="search-group">
            <form action="/board/list" method="get">
                <input type="text" name="keyword" placeholder="Enter Keyword ...." class="keyword-text">
                <button type="submit" class="search-btn">🔍</button>
                <a th:href="@{/board/list}"><button type="button" class="reset-btn">RESET</button></a>
            </form>
        </div>

        <div class="write-btn-area">
            <a th:href="@{/auth/board/write}"><button type="button" class="write-btn">WRITE BOARD</button></a>
        </div>
        <div class="login-btn-area">
            <a th:href="@{/user/login}"><button type="button" class="login-btn">LOGIN</button></a>
        </div>
        <div class="join-btn-area">
            <a th:href="@{/user/join}"><button type="button" class="join-btn">JOIN</button></a>
        </div>

    </div>

    <hr class="header-line">

    <div class="body">


        <div class="list" th:each="board : ${boards}">

            <a th:href="@{/board/detail/{id}(id=${board.id})}" class="board-title">
                <p>[[${board.title}]]</p>
            </a>

            <div class="board-btn-group">
                <a th:href="@{/auth/board/modify/{id}(id = ${board.id})}"><button type="button" class="modify-btn">Modify</button></a>
                <button type="button" class="remove-btn">DELETE</button>
            </div>

        </div>

        <br>
        <br>

        <div class="pageBtn">

            <th:block th:if="${boards.hasPrevious}">
                <a th:href="@{/board/list(page=${boards.number - 1},keyword=${keyword})}"><button type="button">prev</button></a>
            </th:block>

            <th:block th:if="${boards.hasNext}">
                <a th:href="@{/board/list(page=${boards.number + 1},keyword=${keyword})}"><button type="button">next</button></a>
            </th:block>

        </div>

    </div>
</div>

<script th:inline="javascript">

    var actionForm = $("form");
    var id = $(".boardId").val();

    $(".removeBtn").click(function () {

        actionForm.attr("action", "/auth/board/delete/" + id)
            .attr("method", "post");

        actionForm.submit();

    })

</script>


</body>
</html>