<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.tymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title>🤡ZLOG</title>
</head>
<body>

<div class="header">
    <div class="pageName">
        🤡ZLOG
    </div>

    <!-- TODO 검색 기능 구현 필요 -->
    <form action="#" method="post" class="form-group search-group">
        <input type="text" name="keyword" placeholder="검색할 키워드를 입력해주세요...." class="keywordText">
        <button type="submit" class="searchBtn">🔍</button>
    </form>

    <div>
        <a th:href="@{/board/write}"><button type="button" class="btn writeBtn">글쓰기</button></a>
    </div>

</div>

<div class="body">

    <div class="list" th:each="board : ${boards}">

        <a th:href="@{/board/detail/{id}(id=${board.id})}"><p>[[${board.title}]]</p></a>
        <a th:href="@{/board/modify/{id}(id = ${board.id})}"><button type="button" class="modifyBtn">수정</button></a>
        <button type="button" class="removeBtn">삭제</button>

    </div>

</div>

<script th:inline="javascript">

    var actionForm = $("form");
    var id = $(".boardId").val();

    $(".removeBtn").click(function () {

        actionForm.attr("action", "/board/delete/" + id)
            .attr("method", "post");

        actionForm.submit();

    })

</script>


</body>
</html>