<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.tymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>🤡ZLOG</title>
</head>
<body>

<div class="header">
    <div class="pageName">
        🤡ZLOG
    </div>

    <!-- TODO 구분선 필요 -->


</div>

<div class="body">

    <form method="post">

        <div class="title">

            <p>제목</p>
            <input type="text" name="title">

        </div>

        <div class="content">

            <p>내용</p>
            <textarea name="content" cols="30" rows="10"></textarea>

        </div>

        <div class="button">

            <button type="submit">저장</button>

            <a th:href="@{/board/list}"><button type="button">목록</button></a>

        </div>

    </form>

</div>

</body>
</html>