@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html > body * {
    font-family: "GmarketSansMedium";
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

body .container {
    width: 1100px;
}

body a {
    color:inherit;
    text-decoration:none;
}

body button {
    padding: 8px;
    background-color: black;
    color: floralwhite;
}

/* header style */

body .header {
    display: flex;
    justify-content: space-between;
    color: black;
    padding-top: 50px;
}

body .header .page-name {
    font-size: 20px;
    margin: 20px;
}

body .header .search-group {
    margin: 20px;
}

body .header .search-group * {

    height: 43px;

}

body .header .write-btn-area {
    margin: 20px;
}

body .header-line {
    border: black solid;
    margin: 20px
}

/* body style */

body .body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body .body .list {
    display: flex;
    justify-content: space-between;
}

body .body .list .board-title {
    border : 2px black solid;
    margin: 20px;
    border-radius: 10px;
    width: 600px;
    height: 80px;
    display: flex;
    align-items: center;
    margin: 10px;
}

body .body .list .board-title p {
    margin: 10px;
}

body .body .list .board-btn-group {
    display: flex;
    align-items: center;
    margin: 10px;
}

body .body .list .board-btn-group > * {
    margin: 5px;
}

